# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\本人\zg-best-blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
